.main-container {
    isolation: isolate;
    position: relative;
    background: linear-gradient(0deg, var(--slate-900) 0%, var(--slate-800) 100%);
    transition: all 300ms ease-out;
}

.bg-gold {
    background: linear-gradient(180deg, var(--gold-800) 0%, var(--gold-600) 100%);
}

.bg-olive {
    background: linear-gradient(180deg, var(--olive-800) 0%, var(--olive-600) 100%);
}

.bg-rose {
    background: linear-gradient(180deg, var(--rose-800) 0%, var(--rose-600) 100%);
}

.bg-viridian {
    background: linear-gradient(180deg, var(--viridian-800) 0%, var(--viridian-600) 100%);
}

.modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: rgba(25, 26, 38, 0.9);
    backdrop-filter: blur(7.5px);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 35px;
    width: 700px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

    .modal-content p {
        flex: none;
        order: 0;
        flex-grow: 1;
    }

.modal-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 5px;
    gap: 5px;
    width: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.validation-message-container {
    width: 100%;
    margin: 10px;
    color: var(--rose-400);
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0px 0px;
    gap: 10px;
    width: 100%;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.upper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: absolute;
    width: 500px;
    left: 20vw;
    top: 10vh;
}

.level-selector {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 5px;
    margin-top: 15px;

    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(25px);
    border-radius: 20px;
}

.level-button {
    padding: 10px 24px;
    border-radius: 12px;
    border: none;
    background: rgba(255,255,255,0.1);
    color: white;
    transition: 0.2s;
}

.level-button.active {
    background: #5050d8;
}

.character-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 15px;

    position: absolute;
    width: 500px;
    left: 20vw;
    top: calc(172px + 15vh);

    filter: drop-shadow(0px 1.5px 0px rgba(0, 0, 0, 0.55));
}

.character-name {
    margin: 0;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -0.02em;
}

.character-quote {
    margin: 0;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.character-description {
    margin: 0;
    font-size: .9rem;
}

.character-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;

    width: 500px;
    height: 87px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Caveat Brush', cursive !important;
    font-weight: 400;
}

.arrow-button {
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;
    color: var(--powder-900);
    background: var(--powder-50);
    border-radius: 50px;
    font-size: 25px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

    .arrow-button:hover {
        transform: translateY(-50%) scale(1.05);
        background: var(--powder-50);
    }

    .arrow-button:active {
        transform: translateY(-50%) scale(.97);
        background: var(--powder-50);
    }

.left {
    left: 6%;
}

.right {
    right: 6%;
}

.character-image {
    position: absolute;
    height: 95vh;
    right: 0;
    bottom: 0;

    filter: drop-shadow(0px 0px 17px rgba(255, 255, 255, 0.05))
    drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.05))
    drop-shadow(0px 0px 120px rgba(255, 255, 255, 0.05));

    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: -1;
}

.character-shine {
    position: absolute;
    width: 460px;
    height: 100%;
    right: 0;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 100%);
    mix-blend-mode: plus-lighter;
    opacity: 0.07;
    transform: skewX(-12deg) translateX(-35%);
    z-index: -5;
}

.continue-wrapper {
    position: fixed;
    right: 106px;
    bottom: 40px;
}