.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    isolation: isolate;
    position: relative;
    background: linear-gradient(0deg, var(--slate-900) 0%, var(--slate-800) 100%);
    padding: 0;
    min-height: 100vh;
}

.situation {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    align-self: center;
    gap: 15px;
    width: calc(100% - 250px);
    max-width: 1000px;
    margin-top: 65px;
    margin-bottom: 65px;
    padding: 0 125px 0 125px;
}

.situation-illustration {
    box-sizing: border-box;
    display: flex;
    padding: 0px;

    width: 100%;
    background: var(--powder-600);
    min-height: 100px;
    max-height: 30vh;

    border-width: 2px 2px 4px 2px;
    border-style: solid;
    border-color: var(--powder-50);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.35), 
        0px -3px 15px rgba(255, 255, 255, 0.25), 
        0px -15px 50px rgba(255, 255, 255, 0.15);
    border-radius: 15px;

    flex: 1;
    z-index: 1;
    object-fit: cover;
}

.situation-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 12px;
}

.title {
    width: 100%;
    text-align: left;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: -0.02em;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.text {
    width: 100%;
    text-align: left;
}

.continue-wrapper {
    position: absolute;
    right: 106px;
    bottom: 40px;
}

.choice-list {
    gap: 10px;
    flex: 1;
    width: 100%;
    max-height: 40vh;
}

.conversation-list {
    display: flex;
    flex-direction: column;
}

    .conversation-list .choice-button {
        height: auto;
    }

.decision-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
}

    .decision-list .choice-button {
        height: 100%;
        max-height: 20vh;
    }

.choice-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px 17px;
    background: linear-gradient(180deg, var(--powder-900) 0%, var(--powder-800) 100%);
    border-width: 2px 2px 4px 2px;
    border-style: solid;
    border-color: var(--powder-900);
    box-shadow: 0px -2px 15px rgba(255, 255, 255, 0.05), 0px -5px 50px rgba(255, 255, 255, 0.05);
    border-radius: 15px;
}

    .choice-button .shine {
        position: absolute;
        display: block;
        width: 105px;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-20%, -50%) translate(12px, 0) skew(-12deg);
        z-index: 3;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
        mix-blend-mode: plus-lighter;
        opacity: 0.1;
    }

    .choice-button:hover {
        background: linear-gradient(180deg, var(--powder-800) 0%, var(--powder-700) 100%);
        box-shadow: 0px -2px 15px rgba(255, 255, 255, 0.10), 0px -5px 50px rgba(255, 255, 255, 0.05);
        transform: scale(1.01);
    }


    .choice-button:disabled {
        background: transparent;
        box-shadow: none;
        transform: scale(1);
        color: var(--slate-700);
        opacity: 1!important;
    }

        .choice-button:disabled .shine {
            opacity: 0.01;
        }

        .choice-button:disabled:hover {
            background: transparent;
            box-shadow: none;
            transform: scale(1);
        }

.choice-text {
    display: flex;
    align-items: center;
    text-align: center;
}