@page "/"

<PageTitle>HEDGIE</PageTitle>

<div class="main-container">
    <section class="text-container-outer">
        <div class="text-container-inner">
            <div>
                <div>
                    <h1>HEDGIE</h1>
                    <h2>Higher Education Game for Innovation Expertise</h2>
                </div>
                <p>
                    A játék során egy egyetemi kar felsőoktatási innovációs folyamatában veszel részt, a cél, hogy az oktatási innovációtok a lehető legsikeresebb legyen. A játék folyamán problémákat kell megoldani, helyzetekre kell reagálni támogatva az oktatás megújítását, miközben az általad választott karakter is fejlődik.
                </p>
            </div>
            <button onclick="location.href='/setup'">
                <div class="shine"/>Játékra fel!</button>
            <div>
                <h2>A játék működése</h2>
                <p>
                    A játék folyamatos visszajelzést ad majd, hiszen döntéseid energiába fognak kerülni, amiből nincs túl sok, cserébe fejlődhet a karaktered az alábbi területeken: csapatjáték, pedagógiai felkészültség, kezdeményezőkészség, kreativitás és önreflexió. A játék második felében a hallgatói elégedettség emelkedése vagy csökkenése is jelzi majd döntéseid sikerességét. A következőkben megismerkedhetsz a felsorolt területek tartalmával, választhatsz karaktert és indulhat a játék. Ha döntéshelyzeteknél mindent elolvastál és mérlegeltél, akkor egyszerűen kattints a számodra leginkább megfelelő válaszlehetőségre, a játék automatikusan visz tovább a történetben, te pedig figyeld meg jól a pontszámaid változását, hogy lásd, jó úton jársz-e a csapatoddal. Jó játékot!
                </p>
            </div>
        </div>
    </section>

    <img class="home-background" alt="Hallway" src="src/Backgrounds/hallway.JPG"/>
    <img class="home-character" alt="Astonishing illustration of a young professor" src="src/Characters/large-char-young-female.png"/>
</div>