.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    isolation: isolate;
    position: relative;
    background: linear-gradient(0deg, var(--slate-900) 0%, var(--slate-800) 100%);
    overflow-y: scroll;
}

.text-container-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 700px 100px 150px;

    width: 100%;
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
}

.text-container-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 35px;

    max-width: 650px;
    
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
}

.home-character {
    position: fixed;
    height: 820px;
    right: 0;
    bottom: 0;

    filter: drop-shadow(0px 0px 17px rgba(255, 255, 255, 0.05)) 
            drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.05)) 
            drop-shadow(0px 0px 120px rgba(255, 255, 255, 0.05));

    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: 1;
}

.home-background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    mix-blend-mode: multiply;
}