@page "/intro"

<PageTitle>HEDGIE</PageTitle>

<div class="main-container">
    <div class="continue-wrapper">
        <button class="fancy-light" onclick="location.href='/setup'">
            <div class="shine" />
            Tovább →
        </button>
    </div>

    <section class="mail-container">
        <p>
            Kedves Kolléga!
        </p>
        <div class="mail-body">
            <p>
                Bizonyára hallott a Studentaria Kar előző félévi oktatásfejlesztési kezdeményezéséséről, hogy minden kurzuson online kvízeket használjunk. Sajnos a Minőségbiztosítási Iroda adatai alapján a hallgatók elégedettsége továbbra sem javult, többen teljesen feleslegesnek, vagy az adott környezetben értelmetlennek és erőltetettnek találták az oktatói kvízeket. Ezért a kari vezetés egy kisebb oktatói csapatot kíván megbízni az oktatásfejlesztés továbbgondolásával és az oktatás hatékonyabbá tételével.
            </p>
            <p>
                Örömmel értesítjük, hogy karunk e csapat tagjává választotta Önt is. Kérjük, hogy a következő félévben egy pilot keretében tegyen meg mindent annak érdekében, hogy az oktatás minél hatékonyabban tudjon megújulni és hogy a hallgatóink elégedettségét növelni tudjuk.
            </p>
        </div>
        <div class="mail-footer">
            <p>Köszönettel:</p>
            <p>Dr. habil Lehet Péter</p>
            <p>oktatási dékánhelyettes</p>
        </div>
    </section>
</div>