.main-container {
    background: linear-gradient(0deg, var(--phthalo-900) 0%, var(--phthalo-800) 100%);
    transition: all 300ms ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    gap: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
    max-width: 1000px;
}

    .summary p {
        max-width: 650px;
        font-size: 18px;
        text-align: center;
    }

.ranking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    gap: 5px;
    width: 500px;
    margin-bottom: 250px;
}

.rank-chip {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px 0px 0px;
    gap: 12px;
    height: 45px;
    background: var(--phthalo-800);
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: var(--phthalo-900);
    border-radius: 15px;
    align-self: stretch;
    overflow: hidden;
    color: var(--phthalo-50);
    position: relative;
}

    .rank-chip .rank {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 2px;
        gap: 10px;
        width: 50px;
        height: 100%;
        background: var(--phthalo-900);
        font-size: 0.9em;
    }

    .rank-chip .username {
        font-weight: 500;
        font-size: 1.15em;
        flex-grow: 1;
    }

    .rank-chip .score {
        width: 34px;
        font-size: 0.9em;
        text-align: right;
        flex-grow: 0;
    }

.rank-shine {
    position: absolute;
    display: block;
    width: 55px;
    height: 100%;
    top: 0;
    right: 0;
    transform: translate(-25px, 0) skew(-12deg);
    z-index: 3;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    mix-blend-mode: plus-lighter;
    opacity: 0.05;
}

.first {
    background: var(--gold-400);
    border-color: var(--gold-200);
    color: var(--gold-50);
    box-shadow: 0px 0px 3px #F5EECFbb, 0px 0px 25px #F5EECF30, 0px 0px 55px #EEDB9522;
}

    .first .rank {
        background: var(--gold-500);
    }

    .first .rank-shine {
        opacity: 0.1;
    }
