.main-container {
    background: linear-gradient(0deg, var(--phthalo-900) 0%, var(--phthalo-800) 100%);
    transition: all 300ms ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 150px 0 150px;
    gap: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100vw - 300px);
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
    max-width: 1000px;
}

    .summary p {
        max-width: 650px;
        height: 115px;
        font-size: 18px;
        text-align: center;
    }

.ranking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    gap: 5px;
    width: 400px;
    height: 385px;
}

.rank-chip {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px 0px 0px;
    gap: 12px;
    height: 45px;
    background: var(--phthalo-800);
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: var(--phthalo-900);
    border-radius: 15px;
    align-self: stretch;
    overflow: hidden;
    color: var(--phthalo-50);
    position: relative;
}

    .rank-chip .rank {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 2px;
        gap: 10px;
        width: 50px;
        height: 100%;
        background: var(--phthalo-900);
        font-size: 0.9em;
    }

    .rank-chip .username {
        font-weight: 500;
        font-size: 1.15em;
        flex-grow: 1;
    }

    .rank-chip .score {
        width: 34px;
        font-size: 0.9em;
        text-align: right;
        flex-grow: 0;
    }

.rank-shine {
    position: absolute;
    display: block;
    width: 55px;
    height: 100%;
    top: 0;
    right: 0;
    transform: translate(-25px, 0) skew(-12deg);
    z-index: 3;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    mix-blend-mode: plus-lighter;
    opacity: 0.05;
}

.current-player {
    background: var(--phthalo-600);
    border-color: var(--phthalo-300);
    box-shadow: 0px 0px 25px #93C2D433, 0px 0px 55px #5A9CB411;
}

    .current-player .rank {
        background: var(--phthalo-700);
    }

    .current-player .rank-shine {
        opacity: 0.1;
    }

.first {
    background: var(--gold-400);
    border-color: var(--gold-200);
    color: var(--gold-50);
    box-shadow: 0px 0px 3px #F5EECFbb, 0px 0px 25px #F5EECF30, 0px 0px 55px #EEDB9522;
}

    .first .rank {
        background: var(--gold-500);
    }

    .first .rank-shine {
        opacity: 0.1;
    }

.stat-evaluation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-bottom: 350px;
    gap: 45px 15px;
    width: 100%;
    max-width: 1500px;
    filter: drop-shadow(0px 12px 75px rgba(0, 0, 0, 0.15));
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.evaluation-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 20px;
    gap: 12px;
    flex: 0 0 auto;
    width: 400px;
    background: var(--phthalo-800);
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: var(--phthalo-900);
    border-radius: 22px;
    position: relative;
    scroll-snap-align: start;
}

    .evaluation-card * {
        margin: 0;
    }

    .evaluation-card div {
        position: absolute;
        right: 20px;
        top: -17px;
        z-index: 2;
    }

        .evaluation-card div .shine {
            transform: translate(100%, 50%) skew(-12deg);
        }