:root {
    --cobalt-100: #e7eff9;
    --cobalt-200: #ccdbf2;
    --cobalt-300: #a3b9e1;
    --cobalt-400: #7792cb;
    --cobalt-50: #f6f9f9;
    --cobalt-500: #5e70b6;
    --cobalt-600: #4d559d;
    --cobalt-700: #3c407b;
    --cobalt-800: #2a2c56;
    --cobalt-900: #191c36;
    --emerald-100: #dff0ed;
    --emerald-200: #b6e5d6;
    --emerald-300: #7dc9ab;
    --emerald-400: #3ba87c;
    --emerald-50: #f3f7f5;
    --emerald-500: #298c53;
    --emerald-600: #23743c;
    --emerald-700: #1f5830;
    --emerald-800: #163c25;
    --emerald-900: #0f241b;
    --flesh-100: #f9f1e7;
    --flesh-200: #f2d8cb;
    --flesh-300: #dfb19e;
    --flesh-400: #cd836f;
    --flesh-50: #fcfbf9;
    --flesh-500: #b4604a;
    --flesh-600: #964532;
    --flesh-700: #723426;
    --flesh-800: #4d231b;
    --flesh-900: #2f1511;
    --gold-100: #f5eecf;
    --gold-200: #eedb95;
    --gold-300: #dbb750;
    --gold-400: #be8d2c;
    --gold-50: #fbf9f3;
    --gold-500: #a06e16;
    --gold-600: #83550e;
    --gold-700: #65400d;
    --gold-800: #452c0c;
    --gold-900: #2f1c09;
    --lilac-100: #edeffb;
    --lilac-200: #dcd3f8;
    --lilac-300: #beadee;
    --lilac-400: #a885da;
    --lilac-50: #f9fafb;
    --lilac-500: #8e68bd;
    --lilac-600: #74539b;
    --lilac-700: #59417a;
    --lilac-800: #3e2d57;
    --lilac-900: #241b35;
    --olive-100: #f0f1e7;
    --olive-200: #dde1c9;
    --olive-300: #b5c099;
    --olive-400: #809968;
    --olive-50: #f8f9f6;
    --olive-500: #607942;
    --olive-600: #4d5f2d;
    --olive-700: #3c4724;
    --olive-800: #29301b;
    --olive-900: #1a1d13;
    --payne-100: #eceeef;
    --payne-200: #d6dddd;
    --payne-300: #aebbb9;
    --payne-400: #7d9592;
    --payne-50: #f7f8f7;
    --payne-500: #61766e;
    --payne-600: #505b54;
    --payne-700: #3f4541;
    --payne-800: #2c302f;
    --payne-900: #1c1e1f;
    --phthalo-100: #e5f1f7;
    --phthalo-200: #c5e1ed;
    --phthalo-300: #93c2d4;
    --phthalo-400: #5a9cb4;
    --phthalo-50: #f6f9f9;
    --phthalo-500: #437b93;
    --phthalo-600: #366076;
    --phthalo-700: #2c485a;
    --phthalo-800: #1f303f;
    --phthalo-900: #131d29;
    --powder-100: #edf1f6;
    --powder-200: #d7dded;
    --powder-300: #b0bbd4;
    --powder-400: #8492b5;
    --powder-50: #f8faf9;
    --powder-500: #686f97;
    --powder-600: #535478;
    --powder-700: #403f5b;
    --powder-800: #2b2a3e;
    --powder-900: #191a26;
    --rose-100: #f9efeb;
    --rose-200: #f2d4d6;
    --rose-300: #e1abae;
    --rose-400: #d57e84;
    --rose-50: #fcfbf9;
    --rose-500: #c05b61;
    --rose-600: #a44045;
    --rose-700: #7e3034;
    --rose-800: #582224;
    --rose-900: #361515;
    --sienna-100: #f4efe4;
    --sienna-200: #e7dbc7;
    --sienna-300: #cab798;
    --sienna-400: #a78e6a;
    --sienna-50: #faf9f7;
    --sienna-500: #886e46;
    --sienna-600: #6f5431;
    --sienna-700: #553f27;
    --sienna-800: #3a2b1d;
    --sienna-900: #251b13;
    --slate-100: #e9eff5;
    --slate-200: #cfddea;
    --slate-300: #a5bbcf;
    --slate-400: #7595b0;
    --slate-50: #f7f8f8;
    --slate-500: #5b7591;
    --slate-600: #4a5a75;
    --slate-700: #3b445a;
    --slate-800: #292e3f;
    --slate-900: #191d29;
    --steel-100: #e9f1f5;
    --steel-200: #cee0e8;
    --steel-300: #a0c0cc;
    --steel-400: #6a99a8;
    --steel-50: #f7f9f8;
    --steel-500: #507885;
    --steel-600: #405d68;
    --steel-700: #33464e;
    --steel-800: #232f37;
    --steel-900: #151c24;
    --umber-100: #f2f1ec;
    --umber-200: #e3ded5;
    --umber-300: #c1bbab;
    --umber-400: #97927d;
    --umber-50: #f9faf8;
    --umber-500: #777056;
    --umber-600: #5f563d;
    --umber-700: #49402f;
    --umber-800: #312b22;
    --umber-900: #1e1a16;
    --viridian-100: #daf1f7;
    --viridian-200: #ade4ec;
    --viridian-300: #76c7d3;
    --viridian-400: #3aa5b2;
    --viridian-50: #f3f7f7;
    --viridian-500: #298691;
    --viridian-600: #236d75;
    --viridian-700: #1f525a;
    --viridian-800: #173841;
    --viridian-900: #0e222c;
}