@using Game.Models

@if (Choices?.Any() == true)
{
    <div class="choice-list list-group">
        @foreach (var choice in Choices)
        {
            <button class="list-group-item list-group-item-action" @onclick="() => OnChoice.InvokeAsync(choice)">
                <span class="choice-text">@choice.Text</span>
                @if (!string.IsNullOrWhiteSpace(choice.Description))
                {
                    <small class="text-muted d-block">@choice.Description</small>
                }
            </button>
        }
    </div>
}

@code {
    [Parameter]
    public IEnumerable<Choice>? Choices { get; set; }

    [Parameter]
    public EventCallback<Choice> OnChoice { get; set; }
}

