@using Game.Models

@if (Stats is not null)
{
    <section class="player-stats-bar">
        @foreach (var stat in Stats.AsDictionary())
        {
            var iconPath = $"src/Icons/{stat.Value.Canonical.ToLower()}.png";
            var cssClass = $"player-stat stat-{stat.Value.Canonical.ToLower()}";

            <div class="@cssClass">
                <div class="shine" />
                <img src="@iconPath" class="stat-icon" />
                <span class="value">@stat.Value.Value</span>
            </div>
        }
    </section>
}

@code {
    [Parameter]
    public Stats? Stats { get; set; }
}

