.player-stats-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    background: rgba(255, 255, 255, 0.25);
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(25px);
    border-radius: 17px 17px 0 0;
}

.player-stat {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 1px 0px;
    gap: 1px;
    isolation: isolate;
    position: relative;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-radius: 12px;
    overflow: hidden;
}

    .player-stat .stat-icon {
        width: 36px;
        height: 36px;
    }
